# Environment variables
.env
.env.*

# Claude settings
/.claude

# Node modules
/node_modules

# Build output
/dist
/dist-ssr
*.local

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
.idea/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
/android
/ios

# Miscellaneous
.DS_Store
Thumbs.db